<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/home">CompanyApp</a>
    <ul class="nav mr-auto justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/admin-panel" *ngIf="isAdmin === 'Admin'">Order Chart</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/home/orders">Orders</a>
      </li> 
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/home/employee">Employees</a>
      </li>
    </ul>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">LogOut</button>
 </nav>
 <div class="jumbotron jumbotron-fluid mb-0">
    <h3 class="display-4 text-center"><img src="/assets/img/company.png"> Company App</h3>
 </div>
 <div class="container">
  <div class="row">
    <div class="col-md-12 offest-md-1">
     <router-outlet></router-outlet>
    </div>
  </div>
 </div>
 <div id="footerContainer">
 <footer class="footer bg-dark">
    <div class="container">
      <span class="text-muted">Angular 8 & ASP.NET Core Web API</span>
    </div>
</footer>
</div>