.selectedPointer {
    cursor: pointer;
    vertical-align: middle;
}

.center {
    text-align: center;
    vertical-align: middle;
  }


  .right {
    text-align: right;
    vertical-align: middle;
  }

  .left {
    text-align: left;
    vertical-align: middle;
  }

  
  ::ng-deep a {
    cursor: pointer !important; 
    z-index: 500;
  }

